* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: black;
}

.hidden-nav {
  display: none;
}
.hidden-navV {
  height: 100vh;
  width: 100%;
  display: flex;

  position: fixed;
  top: 0px;
  z-index: 1;
}
.active-bar {
  width: 18%;
  height: 100%;
  background-color: white;
}
.hidden-scroll::-webkit-scrollbar {
  width: 7px;
}

.hidden-scroll::-webkit-scrollbar-track {
  background: #afadad;
}

/* Handle */
.hidden-scroll::-webkit-scrollbar-thumb {
  background: rgb(98, 97, 97);
  border-radius: 10px;
}

/* Handle on hover */
.hidden-scroll::-webkit-scrollbar-thumb:hover {
  background: rgb(98, 97, 97);
  border-radius: 10px;
}

.inactive-bar {
  width: 82%;
  height: 100%;
  background-color: rgba(13, 13, 13, 0.595);
  opacity: 0.5;
}
.containers {
  border-bottom: 1px solid silver;
  display: flex;
  align-items: center;
  padding: 2px;
}
.containers > div {
  padding: 7px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.containers > div > svg {
  width: 25px;
}
.containers > a {
  display: flex;
  margin-left: 10px;
  padding: 4px;
  border: 1px solid rgb(211, 209, 209);
  width: 120px;
  align-items: center;
  background-color: red;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  border-radius: 15px;
  gap: 10px;
  text-decoration: none;
  transition: 0.3s;
}
.containers > a:hover {
  background-color: rgb(217, 212, 212);
  color: red;
}
.containers > a:hover img {
  background-color: red;
  border-radius: 50%;
}
.containers > div:hover {
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(212, 213, 214);
  transition: 0.3s;
}
.hidden-scroll {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hidden-scroll:hover {
  overflow-y: scroll;
}

.containers1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  gap: 7px;
  padding-left: 10px;
  border-bottom: 2px solid silver;
}
.containers1 > a {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 25px;
  height: 30px;
}
.containers1 > a:hover {
  background-color: rgb(145, 143, 143);
}
.containers1 span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 150px;
}
.not-hidden {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 10;
}
.search {
  width: 48%;
  display: flex;
  align-items: center;
  height: 40px;
}
#search {
  width: 77%;
  display: flex;
  align-items: center;
  border: 1px solid rgb(172, 169, 169);
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
}
#search input {
  width: 100%;
  height: 27px;
  border: transparent;
  outline: none;
}
input::placeholder {
  letter-spacing: 1px;
  font-size: 14px;
  color: rgb(142, 144, 145);
}
.searchbtn {
  display: flex;
  width: 60px;
  justify-content: center;
  background-color: rgb(221, 214, 214);
  height: 105%;
  padding: 7px;
  box-sizing: border-box;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border: 1px solid rgb(172, 169, 169);
}
.mic {
  margin-left: 15px;
}
.sidenav {
  display: flex;
  gap: 20px;
  position: relative;
  margin-right: 35px;
}
.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.nav-icon:hover {
  background-color: rgba(230, 222, 222, 0.564);
  cursor: pointer;
}
.super {
  position: absolute;

  padding: 0px 5px 0px 5px;
  top: 3px;
  left: 50%;
  font-size: 12px;
  border-radius: 10px;
  background-color: rgb(199, 4, 4);
  color: white;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-areas: ".left-top .right-top"; */
}
.root div {
  height: 200px;

  border: 2px solid black;
}
.profileon {
  position: absolute;
  background-color: white;
  height: 96vh;
  width: 300px;
  right: 70px;
  top: 5px;
  transition: 0.2s ease-out;
  box-shadow: -2px 2px 6px rgb(190, 186, 186);
  border-radius: 12px;
}
.forscroll {
  height: 83%;
  overflow: hidden;
}
.forscroll:hover {
  overflow-y: scroll;
}
.forscroll::-webkit-scrollbar {
  width: 10px;
}

.forscroll::-webkit-scrollbar-track {
  background: #afadad;
}

/* Handle */
.forscroll::-webkit-scrollbar-thumb {
  background: rgb(98, 97, 97);
  border-radius: 10px;
}

/* Handle on hover */
.forscroll::-webkit-scrollbar-thumb:hover {
  background: rgb(98, 97, 97);
  border-radius: 10px;
}
.profileoff {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;
  color: white;
}
.profilepic,
.profileinfo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.profilepic {
  width: 20%;
}
.profileinfo {
  width: 80%;
  flex-direction: column;
  gap: 10px;
}
#profile ul {
  border-bottom: 1px solid rgb(166, 165, 165);
}
#profile ul li {
  list-style: none;
  height: 30px;
  margin: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 8px;
}

#profile ul li:hover {
  background-color: rgb(181, 183, 185);
  cursor: pointer;
}
/* dark theme available */
.dark {
  background-color: rgb(26, 24, 24);
  color: white;
}
.active-barblack {
  width: 18%;
  height: 100%;
  background-color: rgb(26, 24, 24);
  color: white;
  overflow-y: hidden;
}
.not-hiddenblack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid silver;
  position: sticky;
  top: 0px;
  background-color: rgb(26, 24, 24);
  z-index: 10;
}
.blackinput {
  background-color: rgb(46, 46, 46);
  color: white;
}
.blackicon {
  filter: invert(1);
}
.a-black {
  color: white;
}
.blackcloseon {
  display: block;
  background-color: rgb(36, 35, 35);
  overflow: hidden;
  height: 96vh;
}
.blackcloseoff {
  display: block;
  background-color: white;
  height: 96vh;
}
.searchbtnblack {
  display: flex;
  width: 60px;
  justify-content: center;
  background-color: rgb(86, 86, 86);
  height: 105%;
  padding: 7px;
  box-sizing: border-box;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border: 1px solid rgb(172, 169, 169);
}
.nav-iconblack {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.nav-iconblack:hover {
  background-color: rgb(97, 94, 94);
  cursor: pointer;
}
.hidden-scrollblack {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
}
.hidden-scrollblack:hover {
  overflow-y: scroll;
}
.hidden-scrollblack::-webkit-scrollbar {
  width: 8px;
}

.hidden-scrollblack::-webkit-scrollbar-track {
  background: #afadad;
}

/* Handle */
.hidden-scrollblack::-webkit-scrollbar-thumb {
  background: rgb(98, 97, 97);
  border-radius: 10px;
}

/* Handle on hover */
.hidden-scrollblack::-webkit-scrollbar-thumb:hover {
  background: rgb(98, 97, 97);
  border-radius: 10px;
}
